.weather-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    width: 320px;   
    height: 180px; 
    border-radius: 20px;  
    padding: 15px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    color: white;
  }


  .dress-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    width: 320px;  
    height: 180px;  
    border-radius: 20px;  
    padding: 15px;  
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    color: black;
  }


  .umbrella-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightyellow;
    width: 320px;  
    height: 160px;  
    border-radius: 20px;  
    padding: 15px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    color: black;
  }
  
  .weather-details {
    display: flex;
    flex-direction: column;
  }
  
  .date {
    font-size: 16px;  
    font-weight: 500;
  }
  
  .time {
    font-size: 14px;  
    opacity: 0.8;
  }
  
  .location {
    font-size: 12px;  
    margin-top: 3px;
    opacity: 0.8;
  }
  
  .temperature-section {
    display: flex;
    align-items: baseline;
    margin-top: 10px;  
  }
  
  .temperature {
    font-size: 50px;  
    font-weight: bold;
  }
  
  .celsius {
    font-size: 18px;   
    margin-left: 3px;
  }
  
  .weather-status {
    font-size: 14px;  
    margin-top: 5px;    
  }
  
  .weather-icon {
    width: 70px;  
    height: 70px;
  }
  